/.project
/marvin-core/.settings/org.eclipse.core.resources.prefs
/marvin-core/.settings/org.eclipse.jdt.core.prefs
/marvin-main/.settings/org.eclipse.core.resources.prefs
/marvin-main/.settings/org.eclipse.jdt.core.prefs
/marvin-server/.settings/org.eclipse.core.resources.prefs
/marvin-server/.settings/org.eclipse.jdt.core.prefs
/.idea/compiler.xml
/.idea/encodings.xml
/marvin.iml
/marvin-main/marvin.log.1
/marvin-main/marvin.log.2
/marvin-main/marvin.log.3
/marvin-main/marvin.log.4
/marvin-core/marvin-core.iml
/marvin-main/marvin-main.iml
/marvin-server/marvin-server.iml
/.idea/libraries/Maven__cglib_cglib_nodep_2_1_3.xml
/.idea/libraries/Maven__com_google_guava_guava_18_0.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_2_16.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_core_2_2_7.xml
/.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_2_7.xml
/.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_12.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
/.idea/libraries/Maven__commons_io_commons_io_2_1.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__javax_activation_activation_1_1.xml
/.idea/libraries/Maven__javax_annotation_jsr250_api_1_0.xml
/.idea/libraries/Maven__javax_enterprise_cdi_api_1_0.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_2_7.xml
/.idea/libraries/Maven__javax_xml_bind_jsr173_api_1_0.xml
/.idea/libraries/Maven__junit_junit_4_11.xml
/.idea/libraries/Maven__junit_junit_dep_4_4.xml
/.idea/libraries/Maven__log4j_log4j_1_2_15.xml
/.idea/libraries/Maven__net_java_jinput_jinput_2_0_9.xml
/.idea/libraries/Maven__net_jcip_jcip_annotations_1_0.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_2_6.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_2_5.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_12.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_jaxrs_1_9_12.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_12.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_xc_1_9_12.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_jndi_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_plus_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_webapp_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_eclipse_jetty_jetty_xml_9_4_24_v20191120.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_1.xml
/.idea/libraries/Maven__org_jboss_classfilewriter_jboss_classfilewriter_1_1_2_Final.xml
/.idea/libraries/Maven__org_jboss_interceptor_jboss_interceptor_api_1_1.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_2_1_Final.xml
/.idea/libraries/Maven__org_jboss_resteasy_async_http_servlet_3_0_3_0_10_Final.xml
/.idea/libraries/Maven__org_jboss_resteasy_jaxrs_api_3_0_10_Final.xml
/.idea/libraries/Maven__org_jboss_resteasy_resteasy_cdi_3_0_10_Final.xml
/.idea/libraries/Maven__org_jboss_resteasy_resteasy_jackson_provider_3_0_10_Final.xml
/.idea/libraries/Maven__org_jboss_resteasy_resteasy_jaxb_provider_3_0_10_Final.xml
/.idea/libraries/Maven__org_jboss_resteasy_resteasy_jaxrs_3_0_10_Final.xml
/.idea/libraries/Maven__org_jboss_resteasy_resteasy_servlet_initializer_3_0_10_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_annotation_jboss_annotations_api_1_1_spec_1_0_1_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_annotation_jboss_annotations_api_1_2_spec_1_0_0_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_el_jboss_el_api_3_0_spec_1_0_0_Alpha1.xml
/.idea/libraries/Maven__org_jboss_spec_javax_interceptor_jboss_interceptors_api_1_2_spec_1_0_0_Final.xml
/.idea/libraries/Maven__org_jboss_weld_environment_weld_environment_common_2_3_2_Final.xml
/.idea/libraries/Maven__org_jboss_weld_probe_weld_probe_core_2_3_2_Final.xml
/.idea/libraries/Maven__org_jboss_weld_se_weld_se_2_3_2_Final.xml
/.idea/libraries/Maven__org_jboss_weld_se_weld_se_core_2_3_2_Final.xml
/.idea/libraries/Maven__org_jboss_weld_servlet_weld_servlet_2_3_2_Final.xml
/.idea/libraries/Maven__org_jboss_weld_weld_api_2_3_Final.xml
/.idea/libraries/Maven__org_jboss_weld_weld_core_impl_2_3_2_Final.xml
/.idea/libraries/Maven__org_jboss_weld_weld_spi_2_3_Final.xml
/.idea/libraries/Maven__org_jmock_jmock_2_6_0.xml
/.idea/libraries/Maven__org_jmock_jmock_junit4_2_6_0.xml
/.idea/libraries/Maven__org_jmock_jmock_legacy_2_6_0.xml
/.idea/libraries/Maven__org_objenesis_objenesis_1_0.xml
/.idea/libraries/Maven__org_scream3r_jssc_2_8_0.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_2.xml
/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_2.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
